.form-control.me-2 {
    max-width: 220px; 
}

.nav-link-animado {
    display: inline-block;
    transition: transform 0.2s ease-in-out; 
}

.nav-link-animado:hover {
    transform: scale(1.15); 
}

.nav-link-animado:active {
    transform: scale(0.95); 
}
